* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    background-color: var(--gris-claro);
}

:root {
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lobster', cursive;
    --sm: 1rem;
    --md: 1.125rem;
    --lg: 1.5rem;
    --ssm: 0.75rem;
}

header {
    width: 100%;
    background-color: var(--amarillo);
}

.logo {
    width: 6.25;
}

.inputYbusqueda {
    padding: 0.625rem;
    width: 100%;
    height: 3rem;
}


.Busqueda {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}



#CT {
    font-family: var(--primaryFont);
    font-size: var(--ssm);
    text-align: center;
}

.TL {
    font-family: var(--primaryFont);
    font-size: var(--ssm);
    margin-top: 0.625rem;

}

.TL2 a {
    color: black;
    text-decoration: none;
}

.barras {
    text-align: center;
}

.barras2 {
    color: white;
    background-color: var(--celeste);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

#banner img {
    width: 100%;
}

main {
    margin: 5vw;
}

article {
    margin-bottom: 0.625rem;
}


.titulares {
    font-family: var(--primaryFont);
    font-size: var(--lg);
    color: var(--gris-oscuro);
    margin-bottom: 0.625rem;
}

.img {
    width: 100%;
    background-color: white;
}

.truck {
    margin-top: 0.063rem;
    padding-top: 0.938rem;
    font-family: var(--primaryFont);
    font-size: var(--sm);
    background-color: white;
    color: var(--verde);
    padding-left: 0.938rem;
}

.fa-truck {
    padding: 0.63rem;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
}

.precios {
    font-family: var(--primaryFont);
    font-size: var(--md);
    background-color: white;
    padding-left: 0.938rem;
}

.Descuentos {
    font-family: var(--primaryFont);
    font-size: var(--sm);
    background-color: white;
    color: var(--verde);
    padding-left: 0.938rem;
}

.descripciones {
    font-family: var(--primaryFont);
    font-size: var(--ssm);
    color: var(--gris-oscuro);
    background-color: white;
    padding: 0.938rem;
}

footer {
    background-color: white;
    padding-top: 1rem;
}

.footer {
    font-family: var(--primaryFont);
    font-size: var(--ssm);
    color: var(--gris-oscuro);
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.item {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.625rem;
    color: var(--celeste);
    margin-top: 4rem;
}

.copy {
    font-family: var(--primaryFont);
    color: #666;
    font-size: var(--ssm);
    margin-top: 2rem;
    margin-left: 1rem;
}



@media (min-width: 0px) {
    .TL {
        display: none;
    }

    .Descuentos {
        padding-bottom: 1rem;
    }

    .descripciones {
        display: none;
    }

    /* #logo {
        width: 30vw;
    } */

    .inputYbusqueda {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #Buscar {
        border-radius: 0.25rem;
        margin-left: 2rem;
    }

}

@media (min-width: 640px) {
    .barras {
        display: none;
    }

    .TL {
        display: block;
    }

    .fa-basket-shopping {
        padding-bottom: 1rem;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .Descuentos {
        padding-bottom: 0rem;
    }

    .descripciones {
        /* visibility: visible; */
        display: block;
    }
}